*,
:before,
:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

button,
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

body {
    font-size: 15px;
    font-family: 'Lateef', cursive;
    background-color: #f5f5f5;
    user-select: none
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between
}

p {
    word-spacing: 4px;
}


/*======= الشريط العلوي ======= */

.top {
    padding: 10px 5px;
    font-size: 18px
}

.right {
    display: flex;
    justify-content: space-between;
    flex-basis: 33%;
}

.fa-twitter,
.fa-facebook-f {
    color: #62787d;
}

.fa-facebook-f:hover {
    color: #4267B2;
}

.fa-twitter:hover {
    color: #1da1f2;
}

.tel {
    margin-right: 10px;
}

.fa-phone {
    padding-left: 5px;
    color: #01b1d7;
}

.email {
    margin-left: 10px;
}

.fa-at,
.email:hover {
    color: #01b1d7;
}


/* ======= الشريط الرأسي ======= */

.middle {
    flex-direction: row-reverse;
    font-size: 1.5rem;
}

.middle h1 {
    margin: 0;
}

.middle h1 {
    color: #01b1d7;
}

.middle h1 a {
    color: #354144;
}

.items .item:nth-child(-n+5) {
    padding-left: 22px;
}

.items .item:first-child {
    color: #01b1d7;
}

.items .item:hover {
    color: #01b1d7;
}


/*===========carousel============*/

.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked+.carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

.carousel-item::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slide-1,
.slide-2,
.slide-3 {
    height: 70vh;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.slide-1 {
    background-image: url("../image/slide-1.webp");
}

.slide-2 {
    background-image: url("../image/slide-2.webp");
}

.slide-3 {
    background-image: url("../image/slide-3.webp");
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}

.content h1 {
    font-size: 55px;
    font-weight: 900;
    animation: fadeIn .5s ease-in both;
}

.content p {
    font-size: 1.5rem;
}

@keyframes fadeIn {
    from {
        transform: translateY(200%);
        opacity: 0;
    }
    to {
        transform: translateY(-50%);
        opacity: 1;
    }
}


/*======= ======= حولنا ======= ==========*/

.head-howlna {
    direction: rtl;
    display: flex;
    flex-direction: column;
}

.titel {
    text-align: center;
}

.titel>p {
    color: #514e4e;
}

.body-info {
    display: flex;
}

.video {
    align-self: center;
}

.database {
    display: flex;
}

.database i {
    font-size: 33px;
    padding-left: 10px;
    margin-top: 13px;
    color: #01b1d7;
}

h3 {
    color: #6c6767;
}

.database p {
    color: #7d7a7a;
    margin-left: 30px;
    text-align: justify;
}

.font {
    font-size: 1.5rem;
    line-height: 1.5;
}


/*======= كلمة الوزير =======*/

.kalma {
    padding: 80px 0;
    background: url("../image/testimonials-bg.webp") no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.wazir {
    text-align: center;
}

.wazir>img {
    width: 100px;
    border-radius: 50%;
}