@charset "UTF-8";
*,
:before,
:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 15px;
    font-family: 'Lateef', cursive;
    background-color: #f5f5f5;
    user-select: none;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    position: sticky;
    top: 0px;
    background: whitesmoke;
    z-index: 12;
    transition: all 0.5s;
    box-shadow: 0 2.8px 2.2px rgba(31, 30, 30, 0.16);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p {
    word-spacing: 4px;
}


/*======= الشريط العلوي ======= */

.top {
    padding: 10px 5px;
    font-size: 18px;
}

.right {
    display: flex;
    justify-content: space-between;
    flex-basis: 33%;
}

.fa-twitter,
.fa-facebook-f {
    color: #62787d;
}

.fa-facebook-f:hover {
    color: #4267B2;
}

.fa-twitter:hover {
    color: #1da1f2;
}

.tel {
    margin-right: 10px;
}

.fa-phone {
    padding-left: 5px;
    color: #01b1d7;
}

.email {
    margin-left: 10px;
}

.fa-at,
.email:hover {
    color: #01b1d7;
}


/* ======= الشريط الرأسي ======= */

.middle {
    flex-direction: row-reverse;
    font-size: 1.5rem;
}

.middle h1 {
    margin: 0;
}

.middle h1 {
    color: #01b1d7;
}

.middle h1 a {
    color: #354144;
}

.items .item:nth-child(-n+5) {
    padding-left: 22px;
}

.items .item:first-child {
    color: #01b1d7;
}

.active-scrol {
    color: #01b1d7;
}

.items .item:hover {
    color: #01b1d7;
}


/*===========carousel============*/

.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked+.carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

.carousel-item::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slide-1,
.slide-2,
.slide-3 {
    height: 70vh;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.slide-1 {
    background-image: url("../image/slide-1.webp");
}

.slide-2 {
    background-image: url("../image/slide-2.webp");
}

.slide-3 {
    background-image: url("../image/slide-3.webp");
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}

.content h1 {
    font-size: 55px;
    font-weight: 900;
    animation: fadeIn .5s ease-in both;
}

.content p {
    font-size: 1.5rem;
}

@keyframes fadeIn {
    from {
        transform: translateY(200%);
        opacity: 0;
    }
    to {
        transform: translateY(-50%);
        opacity: 1;
    }
}


/*======= ======= حولنا ======= ==========*/

.head-howlna {
    direction: rtl;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.titel {
    text-align: center;
    margin-bottom: 30px;
}

.titel>p {
    color: #514e4e;
}

.body-info {
    display: flex;
}

.video {
    align-self: center;
}

.database {
    display: flex;
    padding: 5px;
}

.database i {
    font-size: 33px;
    padding-left: 10px;
    margin-top: 13px;
    color: #01b1d7;
}

h3 {
    color: #6c6767;
}

.database p {
    color: #938d8d;
    margin-left: 30px;
    text-align: justify;
}

.font {
    font-size: 1.5rem;
    line-height: 1.5;
}


/*======= كلمة الوزير =======*/

.kalma {
    padding: 80px 0;
    background: url("../image/testimonials-bg.webp") no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    color: whitesmoke;
}

.kalma::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.wazir {
    text-align: center;
    position: relative;
}

.wazir img {
    border-radius: 50%;
}

.btn {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 32px;
    border-radius: 5px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    background: #01b1d7;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.btn:hover {
    background-color: #1da1f2;
}


/*======من مشاريعنا =======*/

.masharia:hover img {
    transform: scale(1);
    transition: .4s;
}

.our-projects {
    transition: all .5s ease-in-out;
    padding: 50px 0;
}

.projects {
    text-align: center;
}

.projects-item {
    padding: 6px 10px;
    border-radius: 5%;
    transition: all 0.3s ease-in-out;
    outline: 4px solid whitesmoke;
    cursor: pointer;
}

.projects-item:hover {
    background-color: #1da1f2;
    color: whitesmoke;
}

.active {
    background-color: #1da1f2;
    color: whitesmoke;
}

.img-item {
    justify-content: normal;
    position: relative;
    overflow: hidden;
    height: 240px;
    width: 100%;
}

.img-item .tabs {
    width: calc(100%/3);
}

.tabs {
    padding: 10px;
    position: absolute;
    transition: .4s;
}

.tabs img {
    width: 100%;
}

.tabs:hover img {
    transform: scale(1.1);
}

.tabs:hover .img-f {
    opacity: 1;
    transform: translateY(0);
}

.tabs:first-child {
    top: 0;
    left: 0;
}

.tabs:nth-child(2) {
    top: 0;
    left: calc(100%/3);
}

.tabs:last-child {
    top: 0;
    left: calc((100%/3)*2);
}

.img-f {
    line-height: 1.2em;
    color: whitesmoke;
    background-color: #0000005e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    transition: all .5s ease-in-out;
    transform: translateY(-100%);
}

.overflow {
    overflow: hidden;
    position: relative;
    line-height: 0;
}

.icons {
    margin-top: 15px;
}

.icons a {
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 5px;
    background-color: whitesmoke;
    color: #00b2d7;
}


/*# sourceMappingURL=style.css.map */


/* Element | http://127.0.0.1:5500/index.html */

.img-f>h4:nth-child(1) {
    margin-bottom: 5px;
}


/* Element | http://127.0.0.1:5500/index.html */

.img-f>p:nth-child(2) {
    margin-bottom: 20px;
}


/* style.css | http://127.0.0.1:5500/style.css */

.icons {
    /* margin-top: 15px; */
    display: flex;
}

.icons a {
    display: flex;
    width: 30px;
    height: 30px;
}


/* Element | http://127.0.0.1:5500/index.html */

.icofont-plus {
    font-size: 18px;
}


/* Element | http://127.0.0.1:5500/index.html */

.icons>a:nth-child(1) {
    margin-right: 6px;
}


/* Element | http://127.0.0.1:5500/index.html */

.icofont-link {
    font-size: 18px;
}


/*====== كرونولوجيا=======*/

.chronology .head-howlna {
    direction: ltr;
}

.chronology .one,
.chronology .two {
    flex: 1;
}

.chronology .one {
    order: 2;
}

.chronology .database {
    flex-direction: row-reverse;
    text-align: end;
    padding: 13px;
}

.chronology p {
    direction: rtl;
}

.cart {
    display: flex;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
    background-color: #f2f9ff;
}

.cart:hover {
    box-shadow: 0px 2px 15px rgba(43, 27, 235, 0.1)
}

.body-cart span {
    color: #525252fa;
}

.head>img {
    width: 100%;
    border-radius: 50%;
}