@charset "UTF-8";
*,
:before,
:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 15px;
    font-family: 'Lateef', cursive;
    background-color: #f5f5f5;
    user-select: none;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    position: sticky;
    top: 0px;
    background: whitesmoke;
    z-index: 12;
    transition: all 0.5s;
    box-shadow: 0 2.8px 2.2px rgba(31, 30, 30, 0.16);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p {
    word-spacing: 4px;
}


/*======= الشريط العلوي ======= */

.top {
    padding: 10px 5px;
    font-size: 18px;
}

.right {
    display: flex;
    justify-content: space-between;
    flex-basis: 33%;
}

.icofont-twitter,
.icofont-facebook {
    color: #62787d;
}

.icofont-facebook:hover {
    color: #4267B2;
}

.icofont-twitter:hover {
    color: #1da1f2;
}

.tel {
    margin-right: 10px;
}

.icofont-ui-email,
.icofont-phone {
    padding-left: 5px;
    color: #01b1d7;
}

.fa-at,
.email:hover {
    color: #01b1d7;
}


/* ======= الشريط الرأسي ======= */

.middle {
    flex-direction: row-reverse;
    font-size: 1.5rem;
}

.middle h1 {
    margin: 0;
}

.middle h1 {
    color: #01b1d7;
}

.middle h1 a {
    color: #354144;
}

.logo {
    display: flex;
    align-items: center;
}

.items .item:nth-child(-n+5) {
    padding-left: 22px;
}

.active-scrol {
    color: #01b1d7;
}

.items .item:hover {
    color: #01b1d7;
}


/*===========carousel============*/

.wrapper-c {
    overflow: hidden;
    position: relative
}

.wrapper-c:hover .slider-control .prev {
    left: 0;
    opacity: 1
}

.wrapper-c:hover .slider-control .prev:before {
    opacity: 1;
    right: 5px
}

.wrapper-c:hover .slider-control .next {
    right: 0;
    opacity: 1
}

.wrapper-c:hover .slider-control .next:before {
    opacity: 1;
    left: 9px
}

.carousel {
    display: flex;
    left: -100%;
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0
}

.carousel.is-reversing {
    transform: translateX(-100%)
}

.carousel-item::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-seat {
    position: relative;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 70vh;
    min-height: 25.625rem;
}

.carousel-seat::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-seat {
    flex: 1 0 100%
}

.carousel-seat a img {
    width: 100%;
    height: 100%
}

.carousel.shifting {
    transition: left .5s cubic-bezier(0, 0, .25, 1)
}

.slider-control {
    z-index: 2;
    height: 0;
}

.prev,
.next {
    position: absolute;
    top: 43%;
    opacity: 0;
    cursor: pointer;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    transition: all .35s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.prev {
    left: -23px;
    border-left: 24px solid #eaeaea;
    border-left-color: #01b1d7
}

.next {
    right: -24px;
    border-right: 24px solid #eaeaea;
    border-right-color: #01b1d7
}

.slider-control .prev:before,
.slider-control .next:before {
    font-family: IcoFont !important;
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    color: #fa8b3b;
    font-size: 23px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
    bottom: -13px
}

.slider-control .prev:before {
    content: "\eab5";
    right: 20px
}

.slider-control .next:before {
    content: "\eab8";
    left: 23px
}

.indicatots {
    position: relative;
    bottom: 21px
}

.indicatots ol {
    display: flex;
    justify-content: center
}

.indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 8px;
    width: 8px;
    background-color: rgba(219, 223, 218, .68);
    transition: background-color .3s;
    border-radius: 50%;
    margin: 4px
}

.selected {
    background-color: #01b1d7 !important
}

.content-animtions h1 {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.content-animtions p {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: .5s;
}

.content-animtions .btn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 1s;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97)
    }
    to {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

.slide-1 {
    background-image: url("../image/slide-1.webp");
}

.slide-2 {
    background-image: url("../image/slide-2.webp");
}

.slide-3 {
    background-image: url("../image/slide-3.webp");
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}

.content h1 {
    font-size: 55px;
    font-weight: 900;
    opacity: 0;
}

.content p {
    font-size: 1.5rem;
    margin-bottom: 2.1875rem;
    font-weight: 700;
    color: gainsboro;
    opacity: 0;
}


/*======= ======= حولنا ======= ==========*/

.head-howlna {
    direction: rtl;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.titel {
    text-align: center;
    margin-bottom: 30px;
}

.titel>p {
    color: #514e4e;
}

.body-info {
    display: flex;
}

.video {
    align-self: center;
}

.database {
    display: flex;
    padding: 5px;
}

.database i {
    font-size: 33px;
    padding-left: 10px;
    margin-top: 13px;
    color: #01b1d7;
}

h3 {
    color: #6c6767;
}

.database p {
    color: #938d8d;
    margin-left: 30px;
    text-align: justify;
}

.font {
    font-size: 1.5rem;
    line-height: 1.5;
}


/*======= كلمة الوزير =======*/

.kalma {
    padding: 80px 0;
    background: url("../image/testimonials-bg.webp") no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    color: whitesmoke;
}

.kalma::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.wazir {
    text-align: center;
    position: relative;
}

.wazir img {
    border-radius: 50%;
}

.btn {
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 32px;
    border-radius: 5px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    background-color: #01b1d7;
    opacity: 0;
}

.btn:hover {
    background-color: #1da1f2;
}


/*======من مشاريعنا =======*/

.masharia:hover img {
    transform: scale(1);
    transition: .4s;
}

.our-projects {
    transition: all .5s ease-in-out;
    padding: 50px 0;
}

.projects {
    text-align: center;
}

.projects-item {
    padding: 6px 10px;
    border-radius: 5%;
    transition: all 0.3s ease-in-out;
    outline: 4px solid whitesmoke;
    cursor: pointer;
}

.projects-item:hover {
    background-color: #1da1f2;
    color: whitesmoke;
}

.active {
    background-color: #1da1f2;
    color: whitesmoke;
}

.img-item {
    justify-content: normal;
    position: relative;
    overflow: hidden;
    height: 240px;
    width: 100%;
}

.img-item .tabs {
    width: calc(100%/3);
}

.tabs {
    padding: 10px;
    position: absolute;
    transition: .4s;
}

.tabs img {
    width: 100%;
}

.tabs:hover img {
    transform: scale(1.1);
    filter: blur(4px);
}

.tabs:hover .img-f {
    opacity: 1;
    transform: translateY(0);
}

.tabs:first-child {
    top: 0;
    left: 0;
}

.tabs:nth-child(2) {
    top: 0;
    left: calc(100%/3);
}

.tabs:last-child {
    top: 0;
    left: calc((100%/3)*2);
}

.img-f {
    line-height: 1.2em;
    color: whitesmoke;
    background-color: #0000005e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    transition: all .5s ease-in-out;
    transform: translateY(-100%);
}

.img-f>h4:nth-child(1) {
    margin-bottom: 5px;
}

.img-f>p:nth-child(2) {
    margin-bottom: 20px;
}

.overflow {
    overflow: hidden;
    position: relative;
    line-height: 0;
    border-radius: 10px;
}

.icons {
    display: flex;
    margin-top: 15px;
}

.icons a {
    display: flex;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: whitesmoke;
    color: #00b2d7;
}

.icons>a:nth-child(1) {
    margin-right: 6px;
}

.icofont-plus {
    font-size: 18px;
}

.icofont-link {
    font-size: 18px;
}


/*====== كرونولوجيا=======*/

.chronology .head-howlna {
    direction: ltr;
}

.chronology .one,
.chronology .two {
    flex: 1;
}

.chronology .one {
    order: 2;
}

.chronology .database {
    flex-direction: row-reverse;
    text-align: end;
    padding: 13px;
}

.chronology p {
    direction: rtl;
}

.cart {
    display: flex;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
    background-color: #f2f9ff;
}

.cart:hover {
    box-shadow: 0px 2px 15px rgba(43, 27, 235, 0.1)
}

.body-cart span {
    color: #525252fa;
}

.head>img {
    width: 100%;
    border-radius: 50%;
}


/*==============احصائيات ===========*/

.counts {
    position: relative;
    background: url("./image/counter-up.webp") no-repeat;
    background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.count-items {
    display: flex;
    place-content: space-evenly;
    flex-direction: row-reverse;
}

.count-items span {
    font-size: 2.5em;
    color: #01b1d7;
}


/*=============*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}